body,
body * {
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #212121;
  height: 100vh;
  max-height: 100vh;
  margin: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/main-page-image.jpg');
  background-size: auto 150vh;
  background-repeat: no-repeat;
  background-position: center;
}

#content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  flex: 1;
  margin: 0px;
  overflow: hidden;
}

.tab-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  background-color: #212121;
}

.tab button {
  font-size: 18px;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #6200ea;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #7c4dff;
}

#main-image,
#contact-image {
  height: 150vh;
  filter: brightness(50%);
}

#main-text-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#main-title {
  /* font-size: 5vw; */
  font-size: 4em;
  color: #b990ff;
  text-shadow: 2px 2px #5d34a3;
}

#main-description {
  /* font-size: 1.8vw; */
  font-size: 1.5em;
  color: #ffffff;
  text-shadow: 2px 2px #383838;
}

#main,
#menu,
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 10px;
  flex: 1;
}

#contact-title {
  font-size: 2.5em;
  padding-top: 20px;
}

#phone-number,
#address {
  font-size: 1.5em;
  padding-bottom: 10px;
}

#google-maps {
  min-width: 80vw;
  height: 60vh;
  margin-top: 30px;
  border: none;
}
